a {
  color: #f2c12e;
}

a:visited {
  color: #d9483b;
}

body {
  background-color: #000507;
  color: #a0cecb;
  font-family: monospace;
  font-size: 1.5em;
  margin-bottom: 5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 40%;
}

/* Small screens */
@media screen and (max-width: 30rem) {
  body {
    font-size: 1em;
    margin-left: 1em;
    margin-right: 1em;
    width: 90%;
  }

  h1,h2,h3 {
    font-size: 1rem;
  }

  h1 {
    font-style: bold;
  }
}

h1,h2 {
  margin-top: 2em;
}

img {
  width: 100%;
  margin: 1em;
}

pre {
  background-color: #030303;
  margin-bottom: 2em;
  margin-left: 1em;
  margin-top: 2em;
  padding: 1em;
}

code {
  color: #02899e;
}
