<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="/assets/style.css" />
  <title>Eudaimonia</title>
</html>
<body>
  <div class="header">
  <h1>eudaimonia.io</h1>
  <p>I use this space to write.</p>
  <p>This is me: <a href="https://github.com/spacez320">https://github.com/spacez320</a></p>
  </div>
  <div class="body">
    <ul>
      {{ range .posts }}
      <li><a href="/posts/{{ . }}">{{ . }}</a></li>
      {{ end }}
    </ul>
  </div>
</body>
</html>
